<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>বুয়েটে আড়িপেতে শোনা by bahar</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>বুয়েটে আড়িপেতে শোনা</h1>
        <h2>Easy facebook group feed explorer for OverheardAtBUET</h2>
        <a href="https://github.com/bahar/buet" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <div id="page">

            <div id="wall" class="facebookWall"></div>

          </div>

          <script id="headingTpl" type="text/x-jquery-tmpl">
          </script>

          <script id="feedTpl" type="text/x-jquery-tmpl">
          <li>
            <div class="status">
              <h2><img src="https://graph.facebook.com/${from.id}/picture" class="avatar" /> &nbsp;<a href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">${from.name}</a></h2>
              <p class="message">{{html message}}</p>
              {{if type == "link" }}
                <div class="attachment">
                  {{if picture}}
                    <img class="picture" src="${picture}" />
                  {{/if}}
                  <div class="attachment-data">
                    <p class="name"><a href="${link}" target="_blank">${name}</a></p>
                    <p class="caption">${caption}</p>
                    <p class="description">${description}</p>
                  </div>
                </div>
              {{/if}}
            </div>
            
            <p class="meta">${created_time} · 
            {{if comments}}
              ${comments.data.length} Comment{{if comments.data.length>1}}s{{/if}}
            {{else}}
              0 Comments
            {{/if}} · 
            {{if likes}}
              ${likes.count} Like{{if likes.count>1}}s{{/if}}
            {{else}}
              0 Likes
            {{/if}}
            </p>
            <p><a href="${actions[0].link}" target="_blank">Like!</a> | <a href="${actions[1].link}" target="_blank">Comment on this post</a></p>
            
          </li>
          </script>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/bahar/buet/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/bahar/buet/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/bahar/buet"></a> is maintained by <a href="https://github.com/bahar">bahar</a>.</p>
        </aside>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="javascripts/jquery.tmpl.min.js"></script>
    <script src="javascripts/script.js"></script>
  
  </body>
</html>